pkgbase = synps-mouse-led
	pkgdesc = Synaptics LED enabled psmouse kernel module with touchpad toggle daemon
	pkgver = 6.19
	pkgrel = 1
	url = https://github.com/piratheon/synps-mouse-led
	install = synps-mouse-led.install
	arch = i686
	arch = x86_64
	license = GPL2
	depends = glibc
	optdepends = linux>=6.19: standard kernel
	optdepends = linux-cachyos>=6.19: CachyOS kernel
	optdepends = linux-zen>=6.19: Zen kernel
	optdepends = linux-lts>=6.19: LTS kernel
	optdepends = linux-cachyos-lts>=6.19: CachyOS LTS kernel
	makedepends = git
	source = SHA256SUMS
	source = synps-mouse-led.install
	source = kernel.patch
	source = synps-led-daemon.c
	source = synps-led-daemon.service
	source = synps-led-daemon.openrc
	source = synps-led-daemon.runit
	source = synps-led-daemon.sysvinit
	source = install.sh
	sha256sums = 5c240c5a291f96d35dd1f43e46acb80591f7eda70733958000faccf1434b2791
	sha256sums = SKIP
	sha256sums = bbdef32fe7f7b0e80343e0234540c6d44a64739408705ac18e8a03a73e11e4ff
	sha256sums = 65a414290d3168ea489775391d6492b67963d2cb41eea18dc57966a4254e360e
	sha256sums = cd3bb83bb87a775d9faf21be065d9f8ebf389a7c11b8c8d2f0b4360f0c6b505f
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = synps-mouse-led
