pkgbase = synps-mouse-led
	pkgdesc = Synaptics LED enabled psmouse kernel module with touchpad toggle daemon
	pkgver = 6.19
	pkgrel = 1
	url = https://github.com/piratheon/synps-mouse-led
	install = synps-mouse-led.install
	arch = i686
	arch = x86_64
	license = GPL2
	depends = glibc
	optdepends = linux>=6.19: standard kernel
	optdepends = linux-cachyos>=6.19: CachyOS kernel
	optdepends = linux-zen>=6.19: Zen kernel
	optdepends = linux-lts>=6.19: LTS kernel
	optdepends = linux-cachyos-lts>=6.19: CachyOS LTS kernel
	makedepends = git
	source = SHA256SUMS
	source = synps-mouse-led.install
	source = kernel.patch
	source = synps-led-daemon.c
	source = synps-led-daemon.service
	sha256sums = 5c240c5a291f96d35dd1f43e46acb80591f7eda70733958000faccf1434b2791
	sha256sums = c635cc3b1d13695a0d650e3da0c0794efd97cd3402120425c4a18aaeabff7ae5
	sha256sums = f83d59206344448e5fe3ce57e72660eb8daef26ca7a64b392c7f810faf0c55e4
	sha256sums = 65a414290d3168ea489775391d6492b67963d2cb41eea18dc57966a4254e360e
	sha256sums = cd3bb83bb87a775d9faf21be065d9f8ebf389a7c11b8c8d2f0b4360f0c6b505f

pkgname = synps-mouse-led
